<?xml version='1.0' encoding='utf-8'?>
<plugin id="ljr.cordova.lock" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Lock</name>
    <js-module name="Lock" src="www/Lock.js">
        <clobbers target="cordova.plugins.Lock" />
    </js-module>
	<platform name="android">
	<config-file target="res/xml/config.xml" parent="/*">
      <feature name="Lock">
        <param name="android-package" value="ljr.cordova.Lock"/>
      </feature>
    </config-file>
	<config-file target="AndroidManifest.xml" parent="/*">
	<uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	</config-file>
	<source-file src="src/android/Lock.java" target-dir="src/ljr/cordova"/>	
	<framework src="com.google.code.gson:gson:2.6.2" />
	<framework src="com.tongtonglock:ttlock:3.0.6" />
	 </platform>
</plugin>
